@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Nunito&family=Piedra&family=Proza+Libre&display=swap');
body {
  background-color: lightblue;
}
p {
  color: purple;
  font-family: "Nunito";
}
a {
  font-family: 'Nerko One';
}
.hidden{
  display: none;
